@using Midis.EyeOfHorus.WebApp.Models;
@model Midis.EyeOfHorus.WebApp.Models.WorkersIndexViewModel
@addTagHelper *, Midis.EyeOfHorus.WebApp
@{ ViewData["Title"] = "Workers"; }

<div class="container">
    <div class="row">
        <div class="col">
            <form method="get">
                <div class="form-inline form-group">
                    <label class="control-label" style="padding-right:10px">Full Name: </label>
                    <input name="filteredName" value="@Model.WorkersFilterViewModel.FilteredName" class="form-control" />

                    <input type="submit" value="Filter" class="btn btn-primary" style="margin-left:7px" />
                </div>
            </form>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary right" style="margin-bottom:15px" data-toggle="modal" data-target="#createModal">Add worker</button>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="text-center" scope="col">ID</th>
            <th class="text-center" scope="col">FullName</th>
            <th class="text-center" scope="col">Image</th>
            @if (User.IsInRole("admin"))
            {
                <th class="text-center" scope="col">ClientID</th>
            }
            <th class="text-center" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var worker in Model.Workers)
        {
            <tr>
                <td align="center">@worker.Id</td>
                <td align="center">@worker.FullName</td>
                <td align="center">@worker.ImageName</td>
                @if (User.IsInRole("admin"))
                {
                    <td align="center">@worker.ClientID</td>
                }
                <td align="center" class="for-buttons">
                    <button type="button" onclick="Details(@worker.Id)" class="btn btn-info btn-intable" data-toggle="modal" data-target="#detailsModal"><i class="far fa-image"></i></button>
                    <button type="button" onclick="Edit(@worker.Id)" class="btn btn-success btn-intable" data-toggle="modal" data-target="#editModal"><i class="far fa-edit"></i></button>
                    <button type="button" onclick="Delete(@worker.Id)" class="btn btn-danger btn-intable" data-toggle="modal" data-target="#deleteModal"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<page-link-long-list page-model="Model.PageViewModel" page-action="Index" page-url-filteredname="@(Model.WorkersFilterViewModel.FilteredName)"></page-link-long-list>

@*Create modal*@
<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @{ await Html.RenderPartialAsync("Create", new WebApp.Models.Workers()); }
        </div>
    </div>
</div>

@*Edit modal*@
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="EditModalBodyDiv">
            @{ await Html.RenderPartialAsync("Edit", new WebApp.Models.Workers()); }
        </div>
    </div>
</div>

@*Delete modal*@
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="DeleteModalBodyDiv">
            @{ await Html.RenderPartialAsync("Delete", new WebApp.Models.Workers()); }
        </div>
    </div>
</div>

@*Details modal*@
<div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="DetailsModalBodyDiv">
            @{ await Html.RenderPartialAsync("Details", new WebApp.Models.Workers()); }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function (e) {
        $(".partialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    });
    function Edit(Id) {
        var url = "/Workers/Edit?Id=" + Id;
        $("#EditModalBodyDiv").load(url, function () {
            $("#editModal").modal("show");
        })
    }
    function Delete(Id) {
        var url = "/Workers/Delete?Id=" + Id;
        $("#DeleteModalBodyDiv").load(url, function () {
            $("#deleteModal").modal("show");
        })
    }
    function Details(Id) {
        var url = "/Workers/Details?Id=" + Id;
        $("#DetailsModalBodyDiv").load(url, function () {
            $("#detailsModal").modal("show");
        })
    }
</script>