@{ ViewData["Title"] = "Results"; }

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">FullName</th>
            <th scope="col">FaceRectangle</th>
            <th scope="col">CameraID</th>
            <th scope="col">ClientID</th>
            <th scope="col">FileName</th>
            <th scope="col">DateTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td>@result.Id</td>
                <td>@result.FullName</td>
                <td>@result.FaceRectangle</td>
                <td>@result.CameraID</td>
                <td>@result.ClientID</td>
                <td>@result.FileName</td>
                <td>@result.DateTime</td>
            </tr>            
        }
    </tbody>
</table>
