@using Midis.EyeOfHorus.WebApp.Models;
@model Midis.EyeOfHorus.WebApp.Models.ResultsIndexViewModel
@addTagHelper *, Midis.EyeOfHorus.WebApp
@{ ViewData["Title"] = "Results"; }

<div class="container">
    <div class="row">
        <div class="col">
            <form method="get">
                <div class="form-inline form-group">
                    <label class="control-label" style="padding-right:10px">Worker: </label>
                    <input name="filteredName" class="form-control" />

                    <label class="control-label" style="padding-right:10px; padding-left:7px">Camera: </label>
                    <input name="filteredCameraId" class="form-control" />

                    <input type="submit" value="Filter" class="btn btn-primary" style="margin-left:7px" />
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Worker</th>
            <th scope="col">Camera ID</th>
            <th scope="col">File name</th>
            <th scope="col">Date and time</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.Results)
        {
            <tr>
                <td>@result.Id</td>
                <td>@result.Worker</td>
                <td>@result.CameraID</td>
                <td>@result.FileName</td>
                <td>@result.DateTime</td>
                <td class="for-buttons">
                    <button type="button" class="btn btn-info btn-intable" data-toggle="modal" data-target="#detailsModal"><i class="far fa-image"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<page-link-short-list page-model="Model.PageViewModel" page-action="Index"></page-link-short-list>
